.DS_Store
/#Thesis.lyx#
/._Statusvortrag.key
/Data/*/*.lyx
/Data/*/*.pdf
/Data/*/*.tab
/Data/*/Values.val
/Data/4-Prediction/Prediction_Atom_*.log
/Progress.png
/Statusvortrag.key
/Summary.pdf
/Thesis.pdf
/Verteidigung.key
